a2wsgi==1.10.10
argcomplete==3.6.2
attr==0.3.2
brotli==1.1.0
brotlicffi==1.1.0.0
ConfigParser==7.2.0
contextlib2==21.6.0
cryptography==45.0.4
curio==1.6
Cython==3.1.2
cython==3.1.2
dl==0.1.0
docutils==0.21.2
eccodes==2.41.0
email_validator==2.2.0
eval_type_backport==0.2.2
fastapi_cli==0.0.7
filelock==3.18.0
findlibs==0.1.1
gunicorn==23.0.0
h2==4.2.0
HTMLParser==0.0.2
httptools==0.6.4
hypothesis==6.135.14
ipython==8.12.3
ipywidgets==8.1.7
itsdangerous==2.2.0
jnius==1.1.0
jupyter_core==5.8.1
keyring==25.6.0
kivy==2.3.1
macholib==1.16.3
matplotlib==3.10.3
nltk==3.9.1
numpy==2.3.1
orjson==3.10.18
outcome==1.3.0.post0
Pillow==11.2.1
protobuf==6.31.1
psutil==7.0.0
pygraphviz==1.14
pylsl==1.17.6
pyOpenSSL==25.1.0
pypemicro==0.1.11
PySide2==5.15.2.1
pytest==8.4.1
python-dotenv==1.1.0
pyusb==1.3.1
pywin32==310
PyYAML==6.0.2
railroad==0.5.0
redis==6.2.0
socksio==1.0.0
Sphinx==8.2.3
thread==2.0.5
toml==0.10.2
traitlets==5.14.3
trove_classifiers==2025.5.9.12
ujson==5.10.0
urllib3_secure_extra==0.1.0
watchfiles==1.1.0
wsproto==1.2.0
xattr==1.1.4
xmlrpclib==1.0.1
zstandard==0.23.0
